@model IEnumerable<managershop.Models.Product>
@{
    ViewData["Title"] = "Danh sách sản phẩm";
}

<h1 class="text-center mb-5 mt-5">Danh sách sản phẩm</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var product in Model)
    {
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="image-wrapper d-flex align-items-center justify-content-center" style="height: 250px; overflow: hidden;">
                    <img src="@product.ImageUrl" class="card-img-top w-100 object-fit-cover" alt="@product.Name" />
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="fw-bold text-danger">@product.Price.ToString("#,##0")</p>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Đưa nội dung từ TempData sang JavaScript
        var successMessage = '@TempData["SuccessMessage"]';

        if (successMessage) {
            Swal.fire({
                icon: 'success',
                title: successMessage,
                showConfirmButton: false,
                timer: 2000
            });
        }
    </script>
}
